
[defaults]
inventory = inventories/dev
roles_path = roles
vault_password_file = ../scripts/fetch-vault-pass.sh

stdout_callback = default
result_format = yaml
interpreter_python = auto_silent
retry_files_enabled = False

force_valid_group_names = always

timeout = 30

[inventory]
enable_plugins = google.cloud.gcp_compute, auto, yaml, ini, host_list

unparsed_is_failed = True

[ssh_connection]
ssh_args = -o ControlMaster=auto -o ControlPersist=120s -o StrictHostKeyChecking=accept-new -o PreferredAuthentications=publickey -o ServerAliveInterval=30

pipelining = True
